---
import Github from "@/assets/github.svg";
import Instagram from "@/assets/instagram.svg";
import Logo from "@/assets/logo.svg";
import Threads from "@/assets/threads.svg";
import Head from "@/components/Head.astro";
import Link from "@/components/Link.astro";
import contact from "@/contact";
import { useTranslations } from "@/i18n";
import {
  defaultLocale,
  languageCodes,
  languages,
  type Locale,
} from "@/locales";
import { footerNav } from "@/nav";
import { getRoute, getRouteKey } from "@/routes";
import "@/styles/global.css";
import "@fontsource/libre-baskerville/400-italic.css";
import "@fontsource/manrope";
import "@fontsource/red-hat-mono";

interface Props {
  error?: boolean;
  title?: string;
}

const { error, title } = Astro.props;

const locale = error ? "fi" : (Astro.currentLocale as Locale);
const t = useTranslations("layout", locale);
const siteTitle = useTranslations("site", locale)("title");
const isIndex =
  (locale === defaultLocale && Astro.url.pathname === "/") ||
  (locale !== defaultLocale && Astro.url.pathname === `/${locale}/`);
---

<html class="scheme-light dark:scheme-dark" lang={languageCodes[locale]}>
  <Head title={title} error />
  <body
    class="bg-neutral-50 font-sans text-neutral-900 dark:bg-neutral-900 dark:text-neutral-50"
  >
    <a class="sr-only focus:not-sr-only" href={`#${t("mainID")}`}
      >{t("skipToContent")}</a
    >
    <header class="container flex items-center justify-between py-10">
      {
        isIndex ? (
          <h1 class="text-xl">{siteTitle}</h1>
        ) : (
          <Link class="text-xl !no-underline" href="/">
            {siteTitle}
          </Link>
        )
      }
    </header>
    <main id={t("mainID")} class="container">
      <slot />
    </main>
    <footer class="container">
      <nav aria-label={t("footer.languageMenuLabel")}>
        <ul class="my-12 flex flex-col items-center md:my-8">
          {
            !error &&
              languages
                .filter((lang) => lang.locale !== locale)
                .map((lang) => (
                  <li lang={languageCodes[lang.locale]}>
                    <Link
                      class="text-peach-800 dark:text-peach-200"
                      href={getRouteKey(Astro.url.pathname)}
                      locale={lang.locale}
                    >
                      <bdi>{lang.menuLabel}</bdi>
                    </Link>
                  </li>
                ))
          }
        </ul>
      </nav>
      <div
        class="flex flex-col-reverse items-center justify-between py-10 sm:flex-row"
      >
        <div
          class="my-12 flex flex-col items-center justify-start gap-4 sm:flex-row sm:gap-2 md:my-0"
        >
          <a
            class="hover:text-peach-700 focus:text-peach-700 hover:dark:text-peach-400 focus:dark:text-peach-400"
            href={getRoute(locale, "/")}
          >
            <span class="sr-only">{t("footer.logoAlt")}</span>
            <Logo class="size-14" />
          </a>
          <span>© 2025 Antti Kivi</span>
        </div>
        <div class="sm:mr-2">
          <div class="flex flex-row justify-center gap-6 sm:justify-end">
            <a
              class="hover:text-peach-700 focus:text-peach-700 hover:dark:text-peach-400 focus:dark:text-peach-400"
              href={contact.threadsURL}
              rel="nofollow"
            >
              <span class="sr-only">{t("socialMedia.threadsLogoAlt")}</span>
              <Threads class="size-8" />
            </a>
            <a
              class="hover:text-peach-700 focus:text-peach-700 hover:dark:text-peach-400 focus:dark:text-peach-400"
              href={contact.instagramURL}
              rel="nofollow"
            >
              <span class="sr-only">{t("socialMedia.instagramLogoAlt")}</span>
              <Instagram class="size-8" />
            </a>
            <a
              class="hover:text-peach-700 focus:text-peach-700 hover:dark:text-peach-400 focus:dark:text-peach-400"
              href={contact.githubURL}
              rel="nofollow"
            >
              <span class="sr-only">{t("socialMedia.githubLogoAlt")}</span>
              <Github class="h-8 w-auto" />
            </a>
          </div>
          <nav
            class="my-6 flex flex-col justify-center text-center sm:mb-0 sm:text-right"
          >
            {
              footerNav.map((link) => (
                <Link
                  class="text-peach-800 dark:text-peach-200"
                  href={link.href}
                  locale={locale}
                >
                  {t(link.label)}
                </Link>
              ))
            }
          </nav>
        </div>
      </div>
    </footer>
  </body>
</html>
